<div class="header">
  <h1>Java Repositories List</h1>

  <%= form_tag("/repository/index", method: "get") do %>
    <%= label_tag(:repo_name, "Repo: ") %>
    <%= text_field_tag(:repo_name) %>
    <%= label_tag(:builds, "Builds: ") %>
    <%= text_field_tag(:builds) %>
    <%= label_tag(:stars, "Stars: ") %>
    <%= text_field_tag(:stars) %>
    <%= submit_tag("Search", class: "search") %>
  <% end %>
</div>


<% @repo.each do |repo| %>
  <% flag = (repo.has_compiler_error == 1) ? 'tableRowRed' : 'tableRow' %>
  <div class="<%= flag %>">
    <div class="item">
        <div class="rid">ID <%= repo.id %></div>
        <div class="rname"><%= link_to repo.repo_name, repository_jobs_path(repo), :target => "_blank" %></div>
        <div class="rstars">Star <%= repo.stars %></div>
        <div class="rbuilds">Build <%= repo.builds %></div>
    </div>
  </div>
<% end %>
<%= will_paginate @repo %>
