<h1>Jobs</h1>
<table>
  <tr>
    <th>Number</th>
    <th>State</th>
    <th>Branch</th>
    <th>Compare Url</th>
    <th>Log</th>
    <th>Message</th>
  </tr>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.job_number %></td>
      <td><%= job.job_state %></td>
      <td><%= link_to job.build_branch, "/repository/jobs?repo_id=#{job.travis_java_repository_id}&branch=#{job.build_branch}" %></td>
      <td><%= link_to nil, job.commit_compare_url %></td>
      <td><%= link_to 'log', "/repository/log?repo=#{job.repo_name}&job_number=#{job.job_number}" %></td>
      <td><%= job.commit_message %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @jobs, :inner_window => 10 %>