<h1>Jobs</h1>

<% @jobs.each do |job| %>
  <div class="tableRow">
    <div class="item">
        <span class="jnumber"><%= job.job_number %></span>
        <span class="jstate"><%= job.job_state %></span>
        <span class="jbranch"><%= link_to job.build_branch, "/repository/jobs?repo_id=#{job.travis_java_repository_id}&branch=#{job.build_branch}" %></span>
        <span class="jlog"><%= link_to 'log', job_log_path(job) %></span>
         <span class="jmessage"><p><%= job.commit_message %></p></span>
    </div>
  </div>
<% end %>
<%= will_paginate @jobs, :inner_window => 10 %>