<div class="header" id="test" onclick="showMessage()">
  <h1><%= @repo.repo_name %></h1>
</div>
<% @jobs.each do |job| %>
  <% flag = (job.has_compiler_error == 1) ? 'tableRowRed' : 'tableRow' %>
  <div class="<%= flag %>">
    <div class="item">
        <div class="jnumber"><%= job.job_number %></div>
        <div class="jstate"><%= job.job_state %></div>
        <div class="jbranch"><%= link_to job.build_branch, repository_jobs_path(repository_id: job.travis_java_repository_id, branch: job.build_branch), :target => "_blank" %></div>
        <div class="jlog"><%= link_to 'log', job_log_path(job) %></div>
        <div class="jmatch"><%= link_to 'match', job_matches_path(job), :target => "_blank" %></div>
        <div class="jmessage" onclick="showMessage(this)"><%= job.commit_message %></div>
    </div>
  </div>
<% end %>
<%= will_paginate @jobs, :inner_window => 10 %>