<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <a class="navbar-brand" href="#">  
    <%= image_tag("travis.png", size: "90x30") %>
  </a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <%= link_to 'Home', repositories_path, class: "nav-item nav-link active" %>
      <%= link_to  @repo.repo_name, repository_jobs_path(@repo), class: "nav-item nav-link" %>
    </div>
  </div>
  <%= form_tag(repositories_path, method: "get", class: 'form-inline') do %>
    <%= search_field_tag :search_text, nil, {class: 'form-control mr-sm-2', placeholder: "Job number/branch", 'aria-label': "Search"} %>
    <%= button_tag 'Search', class: 'btn btn-outline-success my-2 my-sm-0' %>
  <% end %>
</nav>

<div class="container">
  <% @jobs.each do |job| %>
    <div class="row border rounded my-2 py-2  <%= job.has_compiler_error == 1 ? "border-warning bg-info text-white" : "border-info bg-light" %>">
      <% link_color = job.has_compiler_error == 1 ? "text-light" : "text-dark" %>
      <div class="col-1">
        <%= job.job_number %>
      </div>
      <div class="col-1">
        <%= job.job_state %>
      </div>
      <div class="col-2">
        <%= link_to job.build_branch, repository_jobs_path(repository_id: job.travis_java_repository_id, branch: job.build_branch), :target => "_blank", class: link_color %>
      </div>
      <div class="col-1">
        <%= link_to 'match', job_matches_path(job), :target => "_blank", class: link_color %>
      </div>
      <div class="col-7 commit-message ellipis" data-container="body" data-toggle="popover" data-placement="bottom">
        <%= job.commit_message %>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <%= will_paginate @jobs %> 
    </div>
  </div>
</div>