<!DOCTYPE html>
<html>
  <head>
    <title>CILink</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'div' %>
    <%= stylesheet_link_tag    'markitup/skins/markitup/style' %>
    <%= stylesheet_link_tag    'markitup/sets/default/style' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'markitup/jquery.markitup.js' %>
    <%= javascript_include_tag 'markitup/sets/default/set.js' %>
    <%= javascript_include_tag 'window_pop.js' %>
    <script type="text/javascript" >
      $(document).ready(function() {
          $("#markItUp").markItUp(mySettings);
      });
    </script>
  </head>
  <body>
      <%= yield %>
  </body>
</html>
